<!--
  Generated template for the Pedido page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="pRed">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pedido</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="modalHistoryPedido()">
        <ion-icon name="paper"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="wallpaper">
  <ion-list no-lines>
    <ion-item-divider color="pRed" class="backTrans txtBold">Restaurante</ion-item-divider>
    <ion-item>
      <ion-label>Seleccione restaurante</ion-label>
      <ion-select [(ngModel)]="restaurante">
        <ion-option value="Abentahar">Abentahar</ion-option>
        <ion-option value="Atidama">Atidama</ion-option>
        <ion-option value="Gaumet">Gaumet</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item-divider color="pRed" class="backTrans txtBold">Entrantes</ion-item-divider>
    <ion-item>
      <ion-label>Seleccione entrantes</ion-label>
      <ion-select [(ngModel)]="entrante" multiple="true">
        <ion-option value="Ningún entrante" selected="true" checked="true">Ninguno</ion-option>
        <ion-option *ngFor="let starter of starters | async" value={{starter.nombre}}>{{starter.nombre}} - {{starter.precio}}€</ion-option>
      </ion-select>
    </ion-item>

    <ion-item-divider color="pRed" class="backTrans txtBold">Carnes</ion-item-divider>
    <ion-item>
      <ion-label>Seleccione carnes</ion-label>
      <ion-select [(ngModel)]="carne" multiple="true">
        <ion-option value="Ninguna carne" selected="true">Ninguno</ion-option>
        <ion-option *ngFor="let meat of meats | async" value={{meat.nombre}}>{{meat.nombre}} - {{meat.precio}}€</ion-option>
      </ion-select>
    </ion-item>

    <ion-item-divider color="pRed" class="backTrans txtBold">Pescados</ion-item-divider>
    <ion-item>
      <ion-label>Seleccione pescados</ion-label>
      <ion-select [(ngModel)]="pescado" multiple="true">
        <ion-option value="Ningún pescado" selected="true">Ninguno</ion-option>
        <ion-option *ngFor="let fish of fishes | async" value={{fish.nombre}}>{{fish.nombre}} - {{fish.precio}}€</ion-option>
      </ion-select>
    </ion-item>

    <ion-item-divider color="pRed" class="backTrans txtBold">Postres</ion-item-divider>
    <ion-item>
      <ion-label>Selecione postres</ion-label>
      <ion-select [(ngModel)]="postre" multiple="true">
        <ion-option value="Ningún postre" selected="true">Ninguno</ion-option>
        <ion-option *ngFor="let dessert of desserts | async" value={{dessert.nombre}}>{{dessert.nombre}} - {{dessert.precio}}€</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

<button ion-button round block color="pRed"
(click)="rPedido(restaurante,entrante,carne,pescado,postre)">
  <ion-icon name="cart" class="iconButton"></ion-icon>Realizar pedido</button>

</ion-content>
