page-desserts {
  .titleDessert{
    color : #000 !important;
  }
  .txt-center {
    text-align: center;
  }

  .titleCard {
    text-align: center;
    color: rgb(250, 122, 59);
    font-weight: 800;
  }

  .precio {
    text-align: right;
    color: #32db64;
    font-weight: 800;
  }

  .txt {
    color: rgb(136, 136, 136);
  }
}

.wallpaper {
  background: url('http://res.cloudinary.com/jdanielcd/image/upload/co_rgb:632727,e_gradient_fade:20,o_50/v1491421621/dishes/wallpaper-min.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.toastStyle {
  > div{
       background-color:rgb(250, 122, 59)!important;
   }
}

.toastStyleGood {
  > div{
       background-color:#32db64!important;
   }
}
